<div class="logo">
<h4>TO-DO LIST</h4>
</div>

<div class='row justify-content-md-center'> 
  <nav class="nav nav-pills">
  <a [routerLink]="['/lista']" routerLinkActive = "active" class="nav-link">A Fazer</a>
  <a [routerLink]="['/done']" routerLinkActive = "active" class="nav-link">Concluído</a>  
</nav>
</div>
<!-- <div class='row justify-content-md-center'> 
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerlink] = "['/lista']">A Fazer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerlink] = "['/done']">Conluídos</a>
  </li>
</ul>
</div> -->