<div class="container">
  <div class="row justify-content-md-center mt-3">
    <div class="col-lg-8">
      <app-input></app-input>
    </div>

  </div>
  <div class="row justify-content-md-center mt-3">
    <div class="col-lg-8">
      <ul class="list-group">
        <div *ngFor="let item of itemLista; let i = index">
          <li *ngIf="!item.status" class="list-group-item">{{item.id}} - {{item.descricao}}<span style="float: right">  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" (click) = 'pagesService.atualizaStatus(i)'>
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </span></li>
        </div>
      </ul>
    </div>
  </div>
</div>
